* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  

body, html {  
    height: 100%;  
    font-family: Arial, sans-serif;  
    color: white;  
}  

.video-background {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
    z-index: -1; /* Memastikan video berada di bawah konten */  
}  

video {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    min-width: 100%;  
    min-height: 100%;  
    width: auto;  
    height: auto;  
    transform: translate(-50%, -50%);  
}  

.overlay {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: rgba(0, 0, 0, 0.5); /* Mengatur opacity overlay */  
}  

.content {  
    position: relative;  
    z-index: 1; /* Memastikan konten berada di atas video dan overlay */  
    text-align: center;  
    padding: 20px;  
}  